Distribution_Substations:337414402.0,Compressor_Stations:GCOMP1
Distribution_Substations:48000558.0,Compressor_Stations:GCOMP10
Distribution_Substations:20014191.0,Compressor_Stations:GCOMP100
Distribution_Substations:337420104.0,Compressor_Stations:GCOMP1000
Distribution_Substations:337406744.0,Compressor_Stations:GCOMP1001
Distribution_Substations:352749579.0,Compressor_Stations:GCOMP1002
Distribution_Substations:25000702.0,Compressor_Stations:GCOMP1003
Distribution_Substations:10581003.0,Compressor_Stations:GCOMP1004
Distribution_Substations:32008268.0,Compressor_Stations:GCOMP1005
Distribution_Substations:337410822.0,Compressor_Stations:GCOMP1006
Distribution_Substations:337406744.0,Compressor_Stations:GCOMP1007
Distribution_Substations:337406744.0,Compressor_Stations:GCOMP1008
Distribution_Substations:340395456.0,Compressor_Stations:GCOMP1009
Distribution_Substations:338154873.0,Compressor_Stations:GCOMP101
Distribution_Substations:340406784.0,Compressor_Stations:GCOMP1010
Distribution_Substations:337418655.0,Compressor_Stations:GCOMP1011
Distribution_Substations:337418655.0,Compressor_Stations:GCOMP1012
Distribution_Substations:10121034.0,Compressor_Stations:GCOMP1013
Distribution_Substations:337431573.0,Compressor_Stations:GCOMP1014
Distribution_Substations:20010806.0,Compressor_Stations:GCOMP1015
Distribution_Substations:343745046.0,Compressor_Stations:GCOMP1016
Distribution_Substations:20011361.0,Compressor_Stations:GCOMP1017
Distribution_Substations:25066671.0,Compressor_Stations:GCOMP1018
Distribution_Substations:337432382.0,Compressor_Stations:GCOMP1019
Distribution_Substations:30003975.0,Compressor_Stations:GCOMP102
Distribution_Substations:52000280.0,Compressor_Stations:GCOMP1020
Distribution_Substations:25050131.0,Compressor_Stations:GCOMP1021
Distribution_Substations:342618421.0,Compressor_Stations:GCOMP1022
Distribution_Substations:368717401.0,Compressor_Stations:GCOMP1023
Distribution_Substations:337414806.0,Compressor_Stations:GCOMP1024
Distribution_Substations:337415917.0,Compressor_Stations:GCOMP1025
Distribution_Substations:20013990.0,Compressor_Stations:GCOMP1026
Distribution_Substations:365668996.0,Compressor_Stations:GCOMP1027
Distribution_Substations:25067008.0,Compressor_Stations:GCOMP1028
Distribution_Substations:365669007.0,Compressor_Stations:GCOMP1029
Distribution_Substations:337432512.0,Compressor_Stations:GCOMP103
Distribution_Substations:365669647.0,Compressor_Stations:GCOMP1030
Distribution_Substations:30000439.0,Compressor_Stations:GCOMP1031
Distribution_Substations:337417250.0,Compressor_Stations:GCOMP1032
Distribution_Substations:337423874.0,Compressor_Stations:GCOMP1033
Distribution_Substations:348262220.0,Compressor_Stations:GCOMP1034
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1035
Distribution_Substations:20000276.0,Compressor_Stations:GCOMP1036
Distribution_Substations:51002257.0,Compressor_Stations:GCOMP1037
Distribution_Substations:25064181.0,Compressor_Stations:GCOMP1038
Distribution_Substations:349560705.0,Compressor_Stations:GCOMP1039
Distribution_Substations:30004681.0,Compressor_Stations:GCOMP104
Distribution_Substations:25061584.0,Compressor_Stations:GCOMP1040
Distribution_Substations:25064860.0,Compressor_Stations:GCOMP1041
Distribution_Substations:337407388.0,Compressor_Stations:GCOMP1042
Distribution_Substations:25061585.0,Compressor_Stations:GCOMP1043
Distribution_Substations:337432458.0,Compressor_Stations:GCOMP1044
Distribution_Substations:25061684.0,Compressor_Stations:GCOMP1045
Distribution_Substations:337408110.0,Compressor_Stations:GCOMP1046
Distribution_Substations:337430522.0,Compressor_Stations:GCOMP1047
Distribution_Substations:337430535.0,Compressor_Stations:GCOMP1048
Distribution_Substations:25060679.0,Compressor_Stations:GCOMP1049
Distribution_Substations:337427537.0,Compressor_Stations:GCOMP105
Distribution_Substations:337423897.0,Compressor_Stations:GCOMP1050
Distribution_Substations:25065357.0,Compressor_Stations:GCOMP1051
Distribution_Substations:337410123.0,Compressor_Stations:GCOMP1052
Distribution_Substations:51001004.0,Compressor_Stations:GCOMP1053
Distribution_Substations:337432382.0,Compressor_Stations:GCOMP1054
Distribution_Substations:51002096.0,Compressor_Stations:GCOMP1055
Distribution_Substations:30000782.0,Compressor_Stations:GCOMP1056
Distribution_Substations:49000295.0,Compressor_Stations:GCOMP1057
Distribution_Substations:337421826.0,Compressor_Stations:GCOMP1058
Distribution_Substations:25061873.0,Compressor_Stations:GCOMP1059
Distribution_Substations:48000519.0,Compressor_Stations:GCOMP106
Distribution_Substations:337406254.0,Compressor_Stations:GCOMP1060
Distribution_Substations:337408419.0,Compressor_Stations:GCOMP1061
Distribution_Substations:25066010.0,Compressor_Stations:GCOMP1062
Distribution_Substations:20013605.0,Compressor_Stations:GCOMP1063
Distribution_Substations:337416802.0,Compressor_Stations:GCOMP1064
Distribution_Substations:348236242.0,Compressor_Stations:GCOMP1065
Distribution_Substations:32006989.0,Compressor_Stations:GCOMP1066
Distribution_Substations:10511154.0,Compressor_Stations:GCOMP1067
Distribution_Substations:10511365.0,Compressor_Stations:GCOMP1068
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP1069
Distribution_Substations:337415943.0,Compressor_Stations:GCOMP107
Distribution_Substations:25060618.0,Compressor_Stations:GCOMP1070
Distribution_Substations:340394331.0,Compressor_Stations:GCOMP1071
Distribution_Substations:343746067.0,Compressor_Stations:GCOMP1072
Distribution_Substations:20013976.0,Compressor_Stations:GCOMP1073
Distribution_Substations:20010806.0,Compressor_Stations:GCOMP1074
Distribution_Substations:342617976.0,Compressor_Stations:GCOMP1075
Distribution_Substations:30002264.0,Compressor_Stations:GCOMP1076
Distribution_Substations:340426787.0,Compressor_Stations:GCOMP1077
Distribution_Substations:337418602.0,Compressor_Stations:GCOMP1078
Distribution_Substations:337409393.0,Compressor_Stations:GCOMP1079
Distribution_Substations:337413617.0,Compressor_Stations:GCOMP108
Distribution_Substations:25069124.0,Compressor_Stations:GCOMP1080
Distribution_Substations:25069124.0,Compressor_Stations:GCOMP1081
Distribution_Substations:348235254.0,Compressor_Stations:GCOMP1082
Distribution_Substations:348235255.0,Compressor_Stations:GCOMP1083
Distribution_Substations:343745219.0,Compressor_Stations:GCOMP1084
Distribution_Substations:337431034.0,Compressor_Stations:GCOMP1085
Distribution_Substations:340394356.0,Compressor_Stations:GCOMP1086
Distribution_Substations:30005094.0,Compressor_Stations:GCOMP1087
Distribution_Substations:356868780.0,Compressor_Stations:GCOMP1088
Distribution_Substations:365668997.0,Compressor_Stations:GCOMP1089
Distribution_Substations:337414389.0,Compressor_Stations:GCOMP109
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1090
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1091
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1092
Distribution_Substations:365668996.0,Compressor_Stations:GCOMP1093
Distribution_Substations:25067391.0,Compressor_Stations:GCOMP1094
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1095
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1096
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1097
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1098
Distribution_Substations:365668997.0,Compressor_Stations:GCOMP1099
Distribution_Substations:337420568.0,Compressor_Stations:GCOMP11
Distribution_Substations:20013484.0,Compressor_Stations:GCOMP110
Distribution_Substations:365668997.0,Compressor_Stations:GCOMP1100
Distribution_Substations:25060135.0,Compressor_Stations:GCOMP1101
Distribution_Substations:337429650.0,Compressor_Stations:GCOMP1102
Distribution_Substations:25063675.0,Compressor_Stations:GCOMP1103
Distribution_Substations:25066971.0,Compressor_Stations:GCOMP1104
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1105
Distribution_Substations:337415949.0,Compressor_Stations:GCOMP1106
Distribution_Substations:337420628.0,Compressor_Stations:GCOMP1107
Distribution_Substations:25065204.0,Compressor_Stations:GCOMP1108
Distribution_Substations:348236306.0,Compressor_Stations:GCOMP1109
Distribution_Substations:20013172.0,Compressor_Stations:GCOMP111
Distribution_Substations:25063508.0,Compressor_Stations:GCOMP1110
Distribution_Substations:10581003.0,Compressor_Stations:GCOMP1111
Distribution_Substations:337406439.0,Compressor_Stations:GCOMP1112
Distribution_Substations:337429907.0,Compressor_Stations:GCOMP1113
Distribution_Substations:337410805.0,Compressor_Stations:GCOMP1114
Distribution_Substations:46060263.0,Compressor_Stations:GCOMP1115
Distribution_Substations:337421550.0,Compressor_Stations:GCOMP1116
Distribution_Substations:337419474.0,Compressor_Stations:GCOMP1117
Distribution_Substations:12324430.0,Compressor_Stations:GCOMP1118
Distribution_Substations:337432734.0,Compressor_Stations:GCOMP1119
Distribution_Substations:337422933.0,Compressor_Stations:GCOMP112
Distribution_Substations:349560705.0,Compressor_Stations:GCOMP1120
Distribution_Substations:337416275.0,Compressor_Stations:GCOMP1121
Distribution_Substations:32008916.0,Compressor_Stations:GCOMP1122
Distribution_Substations:337413967.0,Compressor_Stations:GCOMP1123
Distribution_Substations:25061583.0,Compressor_Stations:GCOMP1124
Distribution_Substations:337418621.0,Compressor_Stations:GCOMP1125
Distribution_Substations:340406810.0,Compressor_Stations:GCOMP1126
Distribution_Substations:337408319.0,Compressor_Stations:GCOMP1127
Distribution_Substations:32000302.0,Compressor_Stations:GCOMP1128
Distribution_Substations:348236265.0,Compressor_Stations:GCOMP1129
Distribution_Substations:348235255.0,Compressor_Stations:GCOMP113
Distribution_Substations:349559860.0,Compressor_Stations:GCOMP1130
Distribution_Substations:30001139.0,Compressor_Stations:GCOMP1131
Distribution_Substations:30009110.0,Compressor_Stations:GCOMP1132
Distribution_Substations:337424021.0,Compressor_Stations:GCOMP1133
Distribution_Substations:25067244.0,Compressor_Stations:GCOMP1134
Distribution_Substations:46060340.0,Compressor_Stations:GCOMP1135
Distribution_Substations:337415319.0,Compressor_Stations:GCOMP1136
Distribution_Substations:20013605.0,Compressor_Stations:GCOMP1137
Distribution_Substations:337418957.0,Compressor_Stations:GCOMP1138
Distribution_Substations:337418173.0,Compressor_Stations:GCOMP1139
Distribution_Substations:337411308.0,Compressor_Stations:GCOMP114
Distribution_Substations:337410582.0,Compressor_Stations:GCOMP1140
Distribution_Substations:337406213.0,Compressor_Stations:GCOMP1141
Distribution_Substations:349560028.0,Compressor_Stations:GCOMP1142
Distribution_Substations:337409524.0,Compressor_Stations:GCOMP1143
Distribution_Substations:337406810.0,Compressor_Stations:GCOMP1144
Distribution_Substations:337410820.0,Compressor_Stations:GCOMP1145
Distribution_Substations:25061583.0,Compressor_Stations:GCOMP1146
Distribution_Substations:25067385.0,Compressor_Stations:GCOMP1147
Distribution_Substations:25067385.0,Compressor_Stations:GCOMP1148
Distribution_Substations:25067385.0,Compressor_Stations:GCOMP1149
Distribution_Substations:337407860.0,Compressor_Stations:GCOMP115
Distribution_Substations:337406279.0,Compressor_Stations:GCOMP1150
Distribution_Substations:10121059.0,Compressor_Stations:GCOMP1151
Distribution_Substations:345866116.0,Compressor_Stations:GCOMP1152
Distribution_Substations:32008918.0,Compressor_Stations:GCOMP1153
Distribution_Substations:35053080.0,Compressor_Stations:GCOMP1154
Distribution_Substations:337413558.0,Compressor_Stations:GCOMP1155
Distribution_Substations:337413558.0,Compressor_Stations:GCOMP1156
Distribution_Substations:25060470.0,Compressor_Stations:GCOMP1157
Distribution_Substations:337418719.0,Compressor_Stations:GCOMP1158
Distribution_Substations:337421498.0,Compressor_Stations:GCOMP1159
Distribution_Substations:337421550.0,Compressor_Stations:GCOMP116
Distribution_Substations:32006363.0,Compressor_Stations:GCOMP1160
Distribution_Substations:25064366.0,Compressor_Stations:GCOMP1161
Distribution_Substations:30000067.0,Compressor_Stations:GCOMP1162
Distribution_Substations:337409524.0,Compressor_Stations:GCOMP1163
Distribution_Substations:337415448.0,Compressor_Stations:GCOMP1164
Distribution_Substations:337432280.0,Compressor_Stations:GCOMP1165
Distribution_Substations:25065294.0,Compressor_Stations:GCOMP1166
Distribution_Substations:337431566.0,Compressor_Stations:GCOMP1167
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP1168
Distribution_Substations:25068041.0,Compressor_Stations:GCOMP1169
Distribution_Substations:349560011.0,Compressor_Stations:GCOMP117
Distribution_Substations:340395926.0,Compressor_Stations:GCOMP1170
Distribution_Substations:337408374.0,Compressor_Stations:GCOMP1171
Distribution_Substations:32008899.0,Compressor_Stations:GCOMP1172
Distribution_Substations:20013884.0,Compressor_Stations:GCOMP1173
Distribution_Substations:365668996.0,Compressor_Stations:GCOMP1174
Distribution_Substations:365668996.0,Compressor_Stations:GCOMP1175
Distribution_Substations:365668998.0,Compressor_Stations:GCOMP1176
Distribution_Substations:365668998.0,Compressor_Stations:GCOMP1177
Distribution_Substations:25067005.0,Compressor_Stations:GCOMP1178
Distribution_Substations:365668974.0,Compressor_Stations:GCOMP1179
Distribution_Substations:337414159.0,Compressor_Stations:GCOMP118
Distribution_Substations:365668974.0,Compressor_Stations:GCOMP1180
Distribution_Substations:365669236.0,Compressor_Stations:GCOMP1181
Distribution_Substations:337429607.0,Compressor_Stations:GCOMP1182
Distribution_Substations:337417415.0,Compressor_Stations:GCOMP1183
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1184
Distribution_Substations:32008283.0,Compressor_Stations:GCOMP1185
Distribution_Substations:337416515.0,Compressor_Stations:GCOMP1186
Distribution_Substations:25065011.0,Compressor_Stations:GCOMP1187
Distribution_Substations:35053502.0,Compressor_Stations:GCOMP1188
Distribution_Substations:32008918.0,Compressor_Stations:GCOMP1189
Distribution_Substations:340393951.0,Compressor_Stations:GCOMP119
Distribution_Substations:337407184.0,Compressor_Stations:GCOMP1190
Distribution_Substations:52000031.0,Compressor_Stations:GCOMP1191
Distribution_Substations:337416118.0,Compressor_Stations:GCOMP1192
Distribution_Substations:25060969.0,Compressor_Stations:GCOMP1193
Distribution_Substations:337432502.0,Compressor_Stations:GCOMP1194
Distribution_Substations:49000200.0,Compressor_Stations:GCOMP1195
Distribution_Substations:30002264.0,Compressor_Stations:GCOMP1196
Distribution_Substations:337421719.0,Compressor_Stations:GCOMP1197
Distribution_Substations:46061333.0,Compressor_Stations:GCOMP1198
Distribution_Substations:337410427.0,Compressor_Stations:GCOMP1199
Distribution_Substations:32008918.0,Compressor_Stations:GCOMP12
Distribution_Substations:337417197.0,Compressor_Stations:GCOMP120
Distribution_Substations:3553623.0,Compressor_Stations:GCOMP1200
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1201
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1202
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1203
Distribution_Substations:337423781.0,Compressor_Stations:GCOMP1204
Distribution_Substations:365669689.0,Compressor_Stations:GCOMP1205
Distribution_Substations:25068406.0,Compressor_Stations:GCOMP1206
Distribution_Substations:25062114.0,Compressor_Stations:GCOMP1207
Distribution_Substations:337407761.0,Compressor_Stations:GCOMP1208
Distribution_Substations:25065223.0,Compressor_Stations:GCOMP1209
Distribution_Substations:25055203.0,Compressor_Stations:GCOMP121
Distribution_Substations:337424752.0,Compressor_Stations:GCOMP1210
Distribution_Substations:337406590.0,Compressor_Stations:GCOMP1211
Distribution_Substations:20011361.0,Compressor_Stations:GCOMP1212
Distribution_Substations:337421834.0,Compressor_Stations:GCOMP1213
Distribution_Substations:32006204.0,Compressor_Stations:GCOMP1214
Distribution_Substations:32000302.0,Compressor_Stations:GCOMP1215
Distribution_Substations:337408345.0,Compressor_Stations:GCOMP1216
Distribution_Substations:337429203.0,Compressor_Stations:GCOMP1217
Distribution_Substations:337411832.0,Compressor_Stations:GCOMP1218
Distribution_Substations:30001132.0,Compressor_Stations:GCOMP122
Distribution_Substations:365669158.0,Compressor_Stations:GCOMP1227
Distribution_Substations:337409626.0,Compressor_Stations:GCOMP1228
Distribution_Substations:25063376.0,Compressor_Stations:GCOMP1229
Distribution_Substations:25068464.0,Compressor_Stations:GCOMP123
Distribution_Substations:35053510.0,Compressor_Stations:GCOMP1230
Distribution_Substations:30001406.0,Compressor_Stations:GCOMP1231
Distribution_Substations:337414501.0,Compressor_Stations:GCOMP1232
Distribution_Substations:10581003.0,Compressor_Stations:GCOMP1233
Distribution_Substations:337428172.0,Compressor_Stations:GCOMP1234
Distribution_Substations:25060634.0,Compressor_Stations:GCOMP1235
Distribution_Substations:25065223.0,Compressor_Stations:GCOMP1236
Distribution_Substations:46000716.0,Compressor_Stations:GCOMP1237
Distribution_Substations:32008317.0,Compressor_Stations:GCOMP1238
Distribution_Substations:337422411.0,Compressor_Stations:GCOMP1239
Distribution_Substations:340406658.0,Compressor_Stations:GCOMP124
Distribution_Substations:337421912.0,Compressor_Stations:GCOMP1240
Distribution_Substations:25050609.0,Compressor_Stations:GCOMP1241
Distribution_Substations:337422630.0,Compressor_Stations:GCOMP1242
Distribution_Substations:25066469.0,Compressor_Stations:GCOMP1243
Distribution_Substations:337411101.0,Compressor_Stations:GCOMP1244
Distribution_Substations:25060637.0,Compressor_Stations:GCOMP1245
Distribution_Substations:337432781.0,Compressor_Stations:GCOMP1246
Distribution_Substations:25060511.0,Compressor_Stations:GCOMP1247
Distribution_Substations:30050436.0,Compressor_Stations:GCOMP1248
Distribution_Substations:337422520.0,Compressor_Stations:GCOMP1249
Distribution_Substations:51001378.0,Compressor_Stations:GCOMP125
Distribution_Substations:337410643.0,Compressor_Stations:GCOMP1250
Distribution_Substations:337417731.0,Compressor_Stations:GCOMP1251
Distribution_Substations:337411783.0,Compressor_Stations:GCOMP1252
Distribution_Substations:25060647.0,Compressor_Stations:GCOMP1253
Distribution_Substations:337414402.0,Compressor_Stations:GCOMP1254
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP1255
Distribution_Substations:337423807.0,Compressor_Stations:GCOMP1256
Distribution_Substations:30005303.0,Compressor_Stations:GCOMP1257
Distribution_Substations:51002609.0,Compressor_Stations:GCOMP1258
Distribution_Substations:337426913.0,Compressor_Stations:GCOMP1259
Distribution_Substations:362453335.0,Compressor_Stations:GCOMP126
Distribution_Substations:67050067.0,Compressor_Stations:GCOMP1260
Distribution_Substations:25068205.0,Compressor_Stations:GCOMP1261
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP1262
Distribution_Substations:356867303.0,Compressor_Stations:GCOMP1263
Distribution_Substations:52000071.0,Compressor_Stations:GCOMP1264
Distribution_Substations:51001909.0,Compressor_Stations:GCOMP1265
Distribution_Substations:25065204.0,Compressor_Stations:GCOMP1266
Distribution_Substations:25065204.0,Compressor_Stations:GCOMP1267
Distribution_Substations:20011064.0,Compressor_Stations:GCOMP1268
Distribution_Substations:25050801.0,Compressor_Stations:GCOMP1269
Distribution_Substations:352749543.0,Compressor_Stations:GCOMP127
Distribution_Substations:25060969.0,Compressor_Stations:GCOMP1270
Distribution_Substations:337421401.0,Compressor_Stations:GCOMP1271
Distribution_Substations:348236299.0,Compressor_Stations:GCOMP1272
Distribution_Substations:337413831.0,Compressor_Stations:GCOMP1273
Distribution_Substations:337408110.0,Compressor_Stations:GCOMP1274
Distribution_Substations:337406810.0,Compressor_Stations:GCOMP1275
Distribution_Substations:25068283.0,Compressor_Stations:GCOMP1276
Distribution_Substations:10511222.0,Compressor_Stations:GCOMP1277
Distribution_Substations:337411406.0,Compressor_Stations:GCOMP1278
Distribution_Substations:25063623.0,Compressor_Stations:GCOMP1279
Distribution_Substations:25051409.0,Compressor_Stations:GCOMP128
Distribution_Substations:348236306.0,Compressor_Stations:GCOMP1280
Distribution_Substations:365669012.0,Compressor_Stations:GCOMP1281
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP1282
Distribution_Substations:337423529.0,Compressor_Stations:GCOMP1283
Distribution_Substations:51002246.0,Compressor_Stations:GCOMP1284
Distribution_Substations:30005480.0,Compressor_Stations:GCOMP1285
Distribution_Substations:337409424.0,Compressor_Stations:GCOMP1286
Distribution_Substations:20013960.0,Compressor_Stations:GCOMP1287
Distribution_Substations:349560403.0,Compressor_Stations:GCOMP1288
Distribution_Substations:343745741.0,Compressor_Stations:GCOMP1289
Distribution_Substations:337408110.0,Compressor_Stations:GCOMP129
Distribution_Substations:25063600.0,Compressor_Stations:GCOMP1290
Distribution_Substations:10141004.0,Compressor_Stations:GCOMP1291
Distribution_Substations:10581003.0,Compressor_Stations:GCOMP1292
Distribution_Substations:337419990.0,Compressor_Stations:GCOMP1293
Distribution_Substations:25068205.0,Compressor_Stations:GCOMP1294
Distribution_Substations:337411839.0,Compressor_Stations:GCOMP1295
Distribution_Substations:25061878.0,Compressor_Stations:GCOMP1296
Distribution_Substations:337407701.0,Compressor_Stations:GCOMP1297
Distribution_Substations:30002479.0,Compressor_Stations:GCOMP1298
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP1299
Distribution_Substations:25064565.0,Compressor_Stations:GCOMP13
Distribution_Substations:25060377.0,Compressor_Stations:GCOMP130
Distribution_Substations:25050609.0,Compressor_Stations:GCOMP1300
Distribution_Substations:25063578.0,Compressor_Stations:GCOMP1301
Distribution_Substations:337421834.0,Compressor_Stations:GCOMP1302
Distribution_Substations:337422456.0,Compressor_Stations:GCOMP1303
Distribution_Substations:25061930.0,Compressor_Stations:GCOMP1304
Distribution_Substations:337417956.0,Compressor_Stations:GCOMP1305
Distribution_Substations:25060621.0,Compressor_Stations:GCOMP1306
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP1307
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP1308
Distribution_Substations:337423958.0,Compressor_Stations:GCOMP1309
Distribution_Substations:362453403.0,Compressor_Stations:GCOMP131
Distribution_Substations:25050801.0,Compressor_Stations:GCOMP1310
Distribution_Substations:25050801.0,Compressor_Stations:GCOMP1311
Distribution_Substations:25050801.0,Compressor_Stations:GCOMP1312
Distribution_Substations:337412698.0,Compressor_Stations:GCOMP1313
Distribution_Substations:337418302.0,Compressor_Stations:GCOMP1314
Distribution_Substations:348235773.0,Compressor_Stations:GCOMP1315
Distribution_Substations:25063545.0,Compressor_Stations:GCOMP1316
Distribution_Substations:25060621.0,Compressor_Stations:GCOMP1317
Distribution_Substations:25061583.0,Compressor_Stations:GCOMP1318
Distribution_Substations:337415285.0,Compressor_Stations:GCOMP1319
Distribution_Substations:343745060.0,Compressor_Stations:GCOMP132
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP1320
Distribution_Substations:337414948.0,Compressor_Stations:GCOMP1321
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP1322
Distribution_Substations:25068205.0,Compressor_Stations:GCOMP1323
Distribution_Substations:337429836.0,Compressor_Stations:GCOMP1324
Distribution_Substations:46061241.0,Compressor_Stations:GCOMP1325
Distribution_Substations:25062279.0,Compressor_Stations:GCOMP1326
Distribution_Substations:349560670.0,Compressor_Stations:GCOMP1327
Distribution_Substations:349560705.0,Compressor_Stations:GCOMP1328
Distribution_Substations:32008848.0,Compressor_Stations:GCOMP1329
Distribution_Substations:337408525.0,Compressor_Stations:GCOMP133
Distribution_Substations:25060621.0,Compressor_Stations:GCOMP1330
Distribution_Substations:25060679.0,Compressor_Stations:GCOMP1331
Distribution_Substations:337423362.0,Compressor_Stations:GCOMP1332
Distribution_Substations:49000574.0,Compressor_Stations:GCOMP1333
Distribution_Substations:337417059.0,Compressor_Stations:GCOMP1334
Distribution_Substations:49001029.0,Compressor_Stations:GCOMP1335
Distribution_Substations:35050160.0,Compressor_Stations:GCOMP1336
Distribution_Substations:352749568.0,Compressor_Stations:GCOMP1337
Distribution_Substations:362453286.0,Compressor_Stations:GCOMP1338
Distribution_Substations:337414402.0,Compressor_Stations:GCOMP1339
Distribution_Substations:337418856.0,Compressor_Stations:GCOMP134
Distribution_Substations:337406427.0,Compressor_Stations:GCOMP1340
Distribution_Substations:30002679.0,Compressor_Stations:GCOMP1341
Distribution_Substations:25060618.0,Compressor_Stations:GCOMP1342
Distribution_Substations:337424330.0,Compressor_Stations:GCOMP1343
Distribution_Substations:349559797.0,Compressor_Stations:GCOMP1344
Distribution_Substations:337432382.0,Compressor_Stations:GCOMP1345
Distribution_Substations:30003206.0,Compressor_Stations:GCOMP1346
Distribution_Substations:52000002.0,Compressor_Stations:GCOMP1347
Distribution_Substations:337411226.0,Compressor_Stations:GCOMP1348
Distribution_Substations:30000420.0,Compressor_Stations:GCOMP1349
Distribution_Substations:337408585.0,Compressor_Stations:GCOMP135
Distribution_Substations:10581003.0,Compressor_Stations:GCOMP1350
Distribution_Substations:337406590.0,Compressor_Stations:GCOMP1351
Distribution_Substations:25066141.0,Compressor_Stations:GCOMP1352
Distribution_Substations:25060709.0,Compressor_Stations:GCOMP1353
Distribution_Substations:25068270.0,Compressor_Stations:GCOMP1354
Distribution_Substations:25065070.0,Compressor_Stations:GCOMP1355
Distribution_Substations:337429509.0,Compressor_Stations:GCOMP1356
Distribution_Substations:25066452.0,Compressor_Stations:GCOMP1357
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP1358
Distribution_Substations:337413831.0,Compressor_Stations:GCOMP1359
Distribution_Substations:32007916.0,Compressor_Stations:GCOMP136
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP1360
Distribution_Substations:337413558.0,Compressor_Stations:GCOMP1361
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP1362
Distribution_Substations:25060670.0,Compressor_Stations:GCOMP1363
Distribution_Substations:337417936.0,Compressor_Stations:GCOMP1364
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP1365
Distribution_Substations:337415285.0,Compressor_Stations:GCOMP1366
Distribution_Substations:337406364.0,Compressor_Stations:GCOMP1367
Distribution_Substations:32006310.0,Compressor_Stations:GCOMP137
Distribution_Substations:337432163.0,Compressor_Stations:GCOMP138
Distribution_Substations:47000365.0,Compressor_Stations:GCOMP139
Distribution_Substations:25050760.0,Compressor_Stations:GCOMP14
Distribution_Substations:25061530.0,Compressor_Stations:GCOMP140
Distribution_Substations:49000101.0,Compressor_Stations:GCOMP141
Distribution_Substations:337406955.0,Compressor_Stations:GCOMP142
Distribution_Substations:337413534.0,Compressor_Stations:GCOMP143
Distribution_Substations:348235939.0,Compressor_Stations:GCOMP144
Distribution_Substations:25051586.0,Compressor_Stations:GCOMP145
Distribution_Substations:337406329.0,Compressor_Stations:GCOMP146
Distribution_Substations:35000484.0,Compressor_Stations:GCOMP147
Distribution_Substations:35053510.0,Compressor_Stations:GCOMP148
Distribution_Substations:337432293.0,Compressor_Stations:GCOMP149
Distribution_Substations:337413831.0,Compressor_Stations:GCOMP15
Distribution_Substations:337419178.0,Compressor_Stations:GCOMP150
Distribution_Substations:20010940.0,Compressor_Stations:GCOMP151
Distribution_Substations:356867724.0,Compressor_Stations:GCOMP152
Distribution_Substations:356867724.0,Compressor_Stations:GCOMP153
Distribution_Substations:30050071.0,Compressor_Stations:GCOMP154
Distribution_Substations:25067385.0,Compressor_Stations:GCOMP155
Distribution_Substations:337429918.0,Compressor_Stations:GCOMP156
Distribution_Substations:337406279.0,Compressor_Stations:GCOMP157
Distribution_Substations:25051268.0,Compressor_Stations:GCOMP158
Distribution_Substations:343746053.0,Compressor_Stations:GCOMP159
Distribution_Substations:337420842.0,Compressor_Stations:GCOMP16
Distribution_Substations:30001296.0,Compressor_Stations:GCOMP160
Distribution_Substations:46060231.0,Compressor_Stations:GCOMP161
Distribution_Substations:337424691.0,Compressor_Stations:GCOMP162
Distribution_Substations:337416871.0,Compressor_Stations:GCOMP163
Distribution_Substations:337407370.0,Compressor_Stations:GCOMP164
Distribution_Substations:10581003.0,Compressor_Stations:GCOMP165
Distribution_Substations:337414332.0,Compressor_Stations:GCOMP166
Distribution_Substations:25066382.0,Compressor_Stations:GCOMP167
Distribution_Substations:30050319.0,Compressor_Stations:GCOMP168
Distribution_Substations:25065312.0,Compressor_Stations:GCOMP169
Distribution_Substations:30050429.0,Compressor_Stations:GCOMP17
Distribution_Substations:337417731.0,Compressor_Stations:GCOMP170
Distribution_Substations:337411481.0,Compressor_Stations:GCOMP171
Distribution_Substations:338154746.0,Compressor_Stations:GCOMP172
Distribution_Substations:46060963.0,Compressor_Stations:GCOMP173
Distribution_Substations:49000886.0,Compressor_Stations:GCOMP174
Distribution_Substations:337413644.0,Compressor_Stations:GCOMP175
Distribution_Substations:25050801.0,Compressor_Stations:GCOMP176
Distribution_Substations:49003283.0,Compressor_Stations:GCOMP177
Distribution_Substations:25068256.0,Compressor_Stations:GCOMP178
Distribution_Substations:30050319.0,Compressor_Stations:GCOMP179
Distribution_Substations:30001409.0,Compressor_Stations:GCOMP18
Distribution_Substations:337429829.0,Compressor_Stations:GCOMP180
Distribution_Substations:337417216.0,Compressor_Stations:GCOMP181
Distribution_Substations:25066677.0,Compressor_Stations:GCOMP182
Distribution_Substations:337429829.0,Compressor_Stations:GCOMP183
Distribution_Substations:49003288.0,Compressor_Stations:GCOMP184
Distribution_Substations:20014048.0,Compressor_Stations:GCOMP185
Distribution_Substations:343745675.0,Compressor_Stations:GCOMP186
Distribution_Substations:337412339.0,Compressor_Stations:GCOMP187
Distribution_Substations:25065325.0,Compressor_Stations:GCOMP188
Distribution_Substations:337406818.0,Compressor_Stations:GCOMP189
Distribution_Substations:25063438.0,Compressor_Stations:GCOMP19
Distribution_Substations:337411697.0,Compressor_Stations:GCOMP190
Distribution_Substations:337592562.0,Compressor_Stations:GCOMP191
Distribution_Substations:51002452.0,Compressor_Stations:GCOMP192
Distribution_Substations:337417498.0,Compressor_Stations:GCOMP193
Distribution_Substations:337413568.0,Compressor_Stations:GCOMP194
Distribution_Substations:337407370.0,Compressor_Stations:GCOMP195
Distribution_Substations:337432844.0,Compressor_Stations:GCOMP196
Distribution_Substations:25067101.0,Compressor_Stations:GCOMP197
Distribution_Substations:49000519.0,Compressor_Stations:GCOMP198
Distribution_Substations:352750456.0,Compressor_Stations:GCOMP199
Distribution_Substations:337406810.0,Compressor_Stations:GCOMP2
Distribution_Substations:25061584.0,Compressor_Stations:GCOMP20
Distribution_Substations:343745315.0,Compressor_Stations:GCOMP200
Distribution_Substations:10551051.0,Compressor_Stations:GCOMP201
Distribution_Substations:25067101.0,Compressor_Stations:GCOMP202
Distribution_Substations:340394147.0,Compressor_Stations:GCOMP203
Distribution_Substations:337411771.0,Compressor_Stations:GCOMP204
Distribution_Substations:353097954.0,Compressor_Stations:GCOMP205
Distribution_Substations:337413169.0,Compressor_Stations:GCOMP206
Distribution_Substations:337431413.0,Compressor_Stations:GCOMP207
Distribution_Substations:30050806.0,Compressor_Stations:GCOMP208
Distribution_Substations:349560397.0,Compressor_Stations:GCOMP209
Distribution_Substations:49001089.0,Compressor_Stations:GCOMP21
Distribution_Substations:25069139.0,Compressor_Stations:GCOMP210
Distribution_Substations:20011845.0,Compressor_Stations:GCOMP211
Distribution_Substations:337410206.0,Compressor_Stations:GCOMP212
Distribution_Substations:49000198.0,Compressor_Stations:GCOMP213
Distribution_Substations:25062630.0,Compressor_Stations:GCOMP214
Distribution_Substations:51002443.0,Compressor_Stations:GCOMP215
Distribution_Substations:49001574.0,Compressor_Stations:GCOMP216
Distribution_Substations:25062337.0,Compressor_Stations:GCOMP217
Distribution_Substations:337421503.0,Compressor_Stations:GCOMP218
Distribution_Substations:30000639.0,Compressor_Stations:GCOMP219
Distribution_Substations:337409192.0,Compressor_Stations:GCOMP22
Distribution_Substations:340394331.0,Compressor_Stations:GCOMP220
Distribution_Substations:20013882.0,Compressor_Stations:GCOMP221
Distribution_Substations:337407324.0,Compressor_Stations:GCOMP222
Distribution_Substations:49001451.0,Compressor_Stations:GCOMP223
Distribution_Substations:338449955.0,Compressor_Stations:GCOMP224
Distribution_Substations:51002217.0,Compressor_Stations:GCOMP225
Distribution_Substations:337408327.0,Compressor_Stations:GCOMP226
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP227
Distribution_Substations:337418658.0,Compressor_Stations:GCOMP228
Distribution_Substations:32006302.0,Compressor_Stations:GCOMP229
Distribution_Substations:10581025.0,Compressor_Stations:GCOMP23
Distribution_Substations:337407271.0,Compressor_Stations:GCOMP230
Distribution_Substations:343746015.0,Compressor_Stations:GCOMP231
Distribution_Substations:337418974.0,Compressor_Stations:GCOMP232
Distribution_Substations:30002263.0,Compressor_Stations:GCOMP233
Distribution_Substations:30050271.0,Compressor_Stations:GCOMP234
Distribution_Substations:337432255.0,Compressor_Stations:GCOMP235
Distribution_Substations:337413369.0,Compressor_Stations:GCOMP236
Distribution_Substations:25050628.0,Compressor_Stations:GCOMP237
Distribution_Substations:25052882.0,Compressor_Stations:GCOMP238
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP239
Distribution_Substations:337420842.0,Compressor_Stations:GCOMP24
Distribution_Substations:25068205.0,Compressor_Stations:GCOMP240
Distribution_Substations:51002462.0,Compressor_Stations:GCOMP241
Distribution_Substations:356868045.0,Compressor_Stations:GCOMP242
Distribution_Substations:337419186.0,Compressor_Stations:GCOMP243
Distribution_Substations:343745221.0,Compressor_Stations:GCOMP244
Distribution_Substations:343745747.0,Compressor_Stations:GCOMP245
Distribution_Substations:25068621.0,Compressor_Stations:GCOMP246
Distribution_Substations:10511164.0,Compressor_Stations:GCOMP247
Distribution_Substations:356868337.0,Compressor_Stations:GCOMP248
Distribution_Substations:49000922.0,Compressor_Stations:GCOMP249
Distribution_Substations:30002501.0,Compressor_Stations:GCOMP25
Distribution_Substations:49001054.0,Compressor_Stations:GCOMP250
Distribution_Substations:337412617.0,Compressor_Stations:GCOMP251
Distribution_Substations:49000830.0,Compressor_Stations:GCOMP252
Distribution_Substations:337417275.0,Compressor_Stations:GCOMP253
Distribution_Substations:343745985.0,Compressor_Stations:GCOMP254
Distribution_Substations:337412084.0,Compressor_Stations:GCOMP255
Distribution_Substations:340395469.0,Compressor_Stations:GCOMP256
Distribution_Substations:32008918.0,Compressor_Stations:GCOMP257
Distribution_Substations:337431978.0,Compressor_Stations:GCOMP258
Distribution_Substations:25066132.0,Compressor_Stations:GCOMP259
Distribution_Substations:35050160.0,Compressor_Stations:GCOMP26
Distribution_Substations:20013484.0,Compressor_Stations:GCOMP260
Distribution_Substations:343745438.0,Compressor_Stations:GCOMP261
Distribution_Substations:25065013.0,Compressor_Stations:GCOMP262
Distribution_Substations:342618386.0,Compressor_Stations:GCOMP263
Distribution_Substations:52000289.0,Compressor_Stations:GCOMP264
Distribution_Substations:343745050.0,Compressor_Stations:GCOMP265
Distribution_Substations:352750027.0,Compressor_Stations:GCOMP266
Distribution_Substations:51001052.0,Compressor_Stations:GCOMP267
Distribution_Substations:25065107.0,Compressor_Stations:GCOMP268
Distribution_Substations:342618261.0,Compressor_Stations:GCOMP269
Distribution_Substations:25064181.0,Compressor_Stations:GCOMP27
Distribution_Substations:20014235.0,Compressor_Stations:GCOMP270
Distribution_Substations:337412617.0,Compressor_Stations:GCOMP271
Distribution_Substations:20014235.0,Compressor_Stations:GCOMP272
Distribution_Substations:20014235.0,Compressor_Stations:GCOMP273
Distribution_Substations:25068205.0,Compressor_Stations:GCOMP274
Distribution_Substations:337431066.0,Compressor_Stations:GCOMP275
Distribution_Substations:337409750.0,Compressor_Stations:GCOMP276
Distribution_Substations:25067416.0,Compressor_Stations:GCOMP277
Distribution_Substations:25066811.0,Compressor_Stations:GCOMP278
Distribution_Substations:25062327.0,Compressor_Stations:GCOMP279
Distribution_Substations:25067005.0,Compressor_Stations:GCOMP28
Distribution_Substations:365669011.0,Compressor_Stations:GCOMP280
Distribution_Substations:337424143.0,Compressor_Stations:GCOMP281
Distribution_Substations:337412651.0,Compressor_Stations:GCOMP282
Distribution_Substations:343745670.0,Compressor_Stations:GCOMP283
Distribution_Substations:25062067.0,Compressor_Stations:GCOMP284
Distribution_Substations:30000325.0,Compressor_Stations:GCOMP285
Distribution_Substations:343745323.0,Compressor_Stations:GCOMP286
Distribution_Substations:49000200.0,Compressor_Stations:GCOMP287
Distribution_Substations:337424494.0,Compressor_Stations:GCOMP288
Distribution_Substations:10511397.0,Compressor_Stations:GCOMP289
Distribution_Substations:337410428.0,Compressor_Stations:GCOMP29
Distribution_Substations:25069046.0,Compressor_Stations:GCOMP290
Distribution_Substations:25065270.0,Compressor_Stations:GCOMP291
Distribution_Substations:343745213.0,Compressor_Stations:GCOMP292
Distribution_Substations:67050082.0,Compressor_Stations:GCOMP293
Distribution_Substations:47000166.0,Compressor_Stations:GCOMP294
Distribution_Substations:337418233.0,Compressor_Stations:GCOMP295
Distribution_Substations:25063547.0,Compressor_Stations:GCOMP296
Distribution_Substations:25060630.0,Compressor_Stations:GCOMP297
Distribution_Substations:30000506.0,Compressor_Stations:GCOMP298
Distribution_Substations:30001861.0,Compressor_Stations:GCOMP299
Distribution_Substations:30003270.0,Compressor_Stations:GCOMP3
Distribution_Substations:337424364.0,Compressor_Stations:GCOMP30
Distribution_Substations:337410569.0,Compressor_Stations:GCOMP300
Distribution_Substations:337409638.0,Compressor_Stations:GCOMP301
Distribution_Substations:30001194.0,Compressor_Stations:GCOMP302
Distribution_Substations:337413967.0,Compressor_Stations:GCOMP303
Distribution_Substations:337406590.0,Compressor_Stations:GCOMP304
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP305
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP306
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP307
Distribution_Substations:337420719.0,Compressor_Stations:GCOMP308
Distribution_Substations:10411082.0,Compressor_Stations:GCOMP309
Distribution_Substations:46060896.0,Compressor_Stations:GCOMP31
Distribution_Substations:340395926.0,Compressor_Stations:GCOMP310
Distribution_Substations:337406827.0,Compressor_Stations:GCOMP311
Distribution_Substations:20013484.0,Compressor_Stations:GCOMP312
Distribution_Substations:337429826.0,Compressor_Stations:GCOMP313
Distribution_Substations:25064620.0,Compressor_Stations:GCOMP314
Distribution_Substations:30001214.0,Compressor_Stations:GCOMP315
Distribution_Substations:51001037.0,Compressor_Stations:GCOMP316
Distribution_Substations:20011636.0,Compressor_Stations:GCOMP317
Distribution_Substations:345864850.0,Compressor_Stations:GCOMP318
Distribution_Substations:337408797.0,Compressor_Stations:GCOMP319
Distribution_Substations:345864260.0,Compressor_Stations:GCOMP32
Distribution_Substations:20050069.0,Compressor_Stations:GCOMP320
Distribution_Substations:337421251.0,Compressor_Stations:GCOMP321
Distribution_Substations:51001185.0,Compressor_Stations:GCOMP322
Distribution_Substations:337420809.0,Compressor_Stations:GCOMP323
Distribution_Substations:32007944.0,Compressor_Stations:GCOMP324
Distribution_Substations:49001684.0,Compressor_Stations:GCOMP325
Distribution_Substations:337418760.0,Compressor_Stations:GCOMP326
Distribution_Substations:337417132.0,Compressor_Stations:GCOMP327
Distribution_Substations:35053602.0,Compressor_Stations:GCOMP328
Distribution_Substations:337407185.0,Compressor_Stations:GCOMP329
Distribution_Substations:337413600.0,Compressor_Stations:GCOMP33
Distribution_Substations:25051294.0,Compressor_Stations:GCOMP330
Distribution_Substations:337419202.0,Compressor_Stations:GCOMP331
Distribution_Substations:49001684.0,Compressor_Stations:GCOMP332
Distribution_Substations:49002959.0,Compressor_Stations:GCOMP333
Distribution_Substations:337421155.0,Compressor_Stations:GCOMP334
Distribution_Substations:365669892.0,Compressor_Stations:GCOMP335
Distribution_Substations:337423866.0,Compressor_Stations:GCOMP336
Distribution_Substations:337412339.0,Compressor_Stations:GCOMP337
Distribution_Substations:25066346.0,Compressor_Stations:GCOMP338
Distribution_Substations:337421147.0,Compressor_Stations:GCOMP339
Distribution_Substations:343745756.0,Compressor_Stations:GCOMP34
Distribution_Substations:25069493.0,Compressor_Stations:GCOMP340
Distribution_Substations:337411344.0,Compressor_Stations:GCOMP341
Distribution_Substations:35050311.0,Compressor_Stations:GCOMP342
Distribution_Substations:67050055.0,Compressor_Stations:GCOMP343
Distribution_Substations:10141161.0,Compressor_Stations:GCOMP344
Distribution_Substations:25068317.0,Compressor_Stations:GCOMP345
Distribution_Substations:356868102.0,Compressor_Stations:GCOMP346
Distribution_Substations:30005281.0,Compressor_Stations:GCOMP347
Distribution_Substations:10121099.0,Compressor_Stations:GCOMP348
Distribution_Substations:337431989.0,Compressor_Stations:GCOMP349
Distribution_Substations:343745742.0,Compressor_Stations:GCOMP35
Distribution_Substations:356868044.0,Compressor_Stations:GCOMP350
Distribution_Substations:51002533.0,Compressor_Stations:GCOMP351
Distribution_Substations:337422892.0,Compressor_Stations:GCOMP352
Distribution_Substations:51002533.0,Compressor_Stations:GCOMP353
Distribution_Substations:337411968.0,Compressor_Stations:GCOMP354
Distribution_Substations:337412140.0,Compressor_Stations:GCOMP355
Distribution_Substations:337419084.0,Compressor_Stations:GCOMP356
Distribution_Substations:337421155.0,Compressor_Stations:GCOMP357
Distribution_Substations:25063232.0,Compressor_Stations:GCOMP358
Distribution_Substations:48000214.0,Compressor_Stations:GCOMP359
Distribution_Substations:25055286.0,Compressor_Stations:GCOMP36
Distribution_Substations:49001849.0,Compressor_Stations:GCOMP360
Distribution_Substations:25066469.0,Compressor_Stations:GCOMP361
Distribution_Substations:337407095.0,Compressor_Stations:GCOMP362
Distribution_Substations:30002923.0,Compressor_Stations:GCOMP363
Distribution_Substations:337423034.0,Compressor_Stations:GCOMP364
Distribution_Substations:352749451.0,Compressor_Stations:GCOMP365
Distribution_Substations:32008460.0,Compressor_Stations:GCOMP366
Distribution_Substations:25069621.0,Compressor_Stations:GCOMP367
Distribution_Substations:25068621.0,Compressor_Stations:GCOMP368
Distribution_Substations:356867847.0,Compressor_Stations:GCOMP369
Distribution_Substations:352749642.0,Compressor_Stations:GCOMP37
Distribution_Substations:30000608.0,Compressor_Stations:GCOMP370
Distribution_Substations:337416270.0,Compressor_Stations:GCOMP371
Distribution_Substations:337431715.0,Compressor_Stations:GCOMP372
Distribution_Substations:343744985.0,Compressor_Stations:GCOMP373
Distribution_Substations:337416919.0,Compressor_Stations:GCOMP374
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP375
Distribution_Substations:337410151.0,Compressor_Stations:GCOMP376
Distribution_Substations:342617345.0,Compressor_Stations:GCOMP377
Distribution_Substations:337429327.0,Compressor_Stations:GCOMP378
Distribution_Substations:337409087.0,Compressor_Stations:GCOMP379
Distribution_Substations:337421470.0,Compressor_Stations:GCOMP38
Distribution_Substations:337414806.0,Compressor_Stations:GCOMP380
Distribution_Substations:362454077.0,Compressor_Stations:GCOMP381
Distribution_Substations:30000325.0,Compressor_Stations:GCOMP382
Distribution_Substations:20011954.0,Compressor_Stations:GCOMP383
Distribution_Substations:46000589.0,Compressor_Stations:GCOMP384
Distribution_Substations:345865965.0,Compressor_Stations:GCOMP385
Distribution_Substations:49001403.0,Compressor_Stations:GCOMP386
Distribution_Substations:20013493.0,Compressor_Stations:GCOMP387
Distribution_Substations:32007087.0,Compressor_Stations:GCOMP388
Distribution_Substations:337410059.0,Compressor_Stations:GCOMP389
Distribution_Substations:337429920.0,Compressor_Stations:GCOMP39
Distribution_Substations:30000325.0,Compressor_Stations:GCOMP390
Distribution_Substations:368717442.0,Compressor_Stations:GCOMP391
Distribution_Substations:337417979.0,Compressor_Stations:GCOMP392
Distribution_Substations:337422707.0,Compressor_Stations:GCOMP393
Distribution_Substations:337411384.0,Compressor_Stations:GCOMP394
Distribution_Substations:338154855.0,Compressor_Stations:GCOMP395
Distribution_Substations:30000327.0,Compressor_Stations:GCOMP396
Distribution_Substations:337417353.0,Compressor_Stations:GCOMP397
Distribution_Substations:49001104.0,Compressor_Stations:GCOMP398
Distribution_Substations:337424428.0,Compressor_Stations:GCOMP399
Distribution_Substations:46000739.0,Compressor_Stations:GCOMP4
Distribution_Substations:51001075.0,Compressor_Stations:GCOMP40
Distribution_Substations:337424555.0,Compressor_Stations:GCOMP400
Distribution_Substations:30050319.0,Compressor_Stations:GCOMP401
Distribution_Substations:337406632.0,Compressor_Stations:GCOMP402
Distribution_Substations:25069570.0,Compressor_Stations:GCOMP403
Distribution_Substations:49001938.0,Compressor_Stations:GCOMP404
Distribution_Substations:49002097.0,Compressor_Stations:GCOMP405
Distribution_Substations:25061869.0,Compressor_Stations:GCOMP406
Distribution_Substations:49001529.0,Compressor_Stations:GCOMP407
Distribution_Substations:337421339.0,Compressor_Stations:GCOMP408
Distribution_Substations:337423701.0,Compressor_Stations:GCOMP409
Distribution_Substations:337411101.0,Compressor_Stations:GCOMP41
Distribution_Substations:47000173.0,Compressor_Stations:GCOMP410
Distribution_Substations:340394387.0,Compressor_Stations:GCOMP411
Distribution_Substations:337415714.0,Compressor_Stations:GCOMP412
Distribution_Substations:25064996.0,Compressor_Stations:GCOMP413
Distribution_Substations:20014235.0,Compressor_Stations:GCOMP414
Distribution_Substations:30003563.0,Compressor_Stations:GCOMP415
Distribution_Substations:49000736.0,Compressor_Stations:GCOMP416
Distribution_Substations:337411017.0,Compressor_Stations:GCOMP417
Distribution_Substations:337419113.0,Compressor_Stations:GCOMP418
Distribution_Substations:32005055.0,Compressor_Stations:GCOMP419
Distribution_Substations:25051013.0,Compressor_Stations:GCOMP42
Distribution_Substations:337428948.0,Compressor_Stations:GCOMP420
Distribution_Substations:46000653.0,Compressor_Stations:GCOMP421
Distribution_Substations:337423852.0,Compressor_Stations:GCOMP422
Distribution_Substations:46000156.0,Compressor_Stations:GCOMP423
Distribution_Substations:337414952.0,Compressor_Stations:GCOMP424
Distribution_Substations:25051493.0,Compressor_Stations:GCOMP425
Distribution_Substations:337415502.0,Compressor_Stations:GCOMP426
Distribution_Substations:337416646.0,Compressor_Stations:GCOMP427
Distribution_Substations:337416919.0,Compressor_Stations:GCOMP428
Distribution_Substations:337406049.0,Compressor_Stations:GCOMP429
Distribution_Substations:51001825.0,Compressor_Stations:GCOMP43
Distribution_Substations:51001008.0,Compressor_Stations:GCOMP430
Distribution_Substations:32006635.0,Compressor_Stations:GCOMP431
Distribution_Substations:51002099.0,Compressor_Stations:GCOMP432
Distribution_Substations:25055139.0,Compressor_Stations:GCOMP433
Distribution_Substations:337411650.0,Compressor_Stations:GCOMP434
Distribution_Substations:337429937.0,Compressor_Stations:GCOMP435
Distribution_Substations:342618058.0,Compressor_Stations:GCOMP436
Distribution_Substations:20010785.0,Compressor_Stations:GCOMP437
Distribution_Substations:25051722.0,Compressor_Stations:GCOMP438
Distribution_Substations:337429920.0,Compressor_Stations:GCOMP439
Distribution_Substations:25068214.0,Compressor_Stations:GCOMP44
Distribution_Substations:30001897.0,Compressor_Stations:GCOMP440
Distribution_Substations:30001897.0,Compressor_Stations:GCOMP441
Distribution_Substations:337410822.0,Compressor_Stations:GCOMP442
Distribution_Substations:356865746.0,Compressor_Stations:GCOMP443
Distribution_Substations:30002263.0,Compressor_Stations:GCOMP444
Distribution_Substations:32005069.0,Compressor_Stations:GCOMP445
Distribution_Substations:20010940.0,Compressor_Stations:GCOMP446
Distribution_Substations:25068203.0,Compressor_Stations:GCOMP447
Distribution_Substations:337420963.0,Compressor_Stations:GCOMP448
Distribution_Substations:49001701.0,Compressor_Stations:GCOMP449
Distribution_Substations:343745669.0,Compressor_Stations:GCOMP45
Distribution_Substations:342618253.0,Compressor_Stations:GCOMP450
Distribution_Substations:49000529.0,Compressor_Stations:GCOMP451
Distribution_Substations:51002238.0,Compressor_Stations:GCOMP452
Distribution_Substations:49003693.0,Compressor_Stations:GCOMP453
Distribution_Substations:25065068.0,Compressor_Stations:GCOMP454
Distribution_Substations:10521179.0,Compressor_Stations:GCOMP455
Distribution_Substations:49001738.0,Compressor_Stations:GCOMP456
Distribution_Substations:20013300.0,Compressor_Stations:GCOMP457
Distribution_Substations:337420334.0,Compressor_Stations:GCOMP458
Distribution_Substations:30005064.0,Compressor_Stations:GCOMP459
Distribution_Substations:337413595.0,Compressor_Stations:GCOMP46
Distribution_Substations:337410538.0,Compressor_Stations:GCOMP460
Distribution_Substations:337410538.0,Compressor_Stations:GCOMP461
Distribution_Substations:51002235.0,Compressor_Stations:GCOMP462
Distribution_Substations:25063120.0,Compressor_Stations:GCOMP463
Distribution_Substations:30001309.0,Compressor_Stations:GCOMP464
Distribution_Substations:25061028.0,Compressor_Stations:GCOMP465
Distribution_Substations:337421550.0,Compressor_Stations:GCOMP466
Distribution_Substations:337431627.0,Compressor_Stations:GCOMP467
Distribution_Substations:337414143.0,Compressor_Stations:GCOMP468
Distribution_Substations:30004711.0,Compressor_Stations:GCOMP469
Distribution_Substations:48001062.0,Compressor_Stations:GCOMP47
Distribution_Substations:25062975.0,Compressor_Stations:GCOMP470
Distribution_Substations:337420842.0,Compressor_Stations:GCOMP471
Distribution_Substations:343745052.0,Compressor_Stations:GCOMP472
Distribution_Substations:25060409.0,Compressor_Stations:GCOMP473
Distribution_Substations:30002264.0,Compressor_Stations:GCOMP474
Distribution_Substations:32008543.0,Compressor_Stations:GCOMP475
Distribution_Substations:343745238.0,Compressor_Stations:GCOMP476
Distribution_Substations:337409602.0,Compressor_Stations:GCOMP477
Distribution_Substations:20010906.0,Compressor_Stations:GCOMP478
Distribution_Substations:340394447.0,Compressor_Stations:GCOMP479
Distribution_Substations:337432583.0,Compressor_Stations:GCOMP48
Distribution_Substations:52000018.0,Compressor_Stations:GCOMP480
Distribution_Substations:37000133.0,Compressor_Stations:GCOMP481
Distribution_Substations:337413639.0,Compressor_Stations:GCOMP482
Distribution_Substations:30005303.0,Compressor_Stations:GCOMP483
Distribution_Substations:30001897.0,Compressor_Stations:GCOMP484
Distribution_Substations:25063697.0,Compressor_Stations:GCOMP485
Distribution_Substations:340396233.0,Compressor_Stations:GCOMP486
Distribution_Substations:25061493.0,Compressor_Stations:GCOMP487
Distribution_Substations:337416969.0,Compressor_Stations:GCOMP488
Distribution_Substations:356868095.0,Compressor_Stations:GCOMP489
Distribution_Substations:25060177.0,Compressor_Stations:GCOMP49
Distribution_Substations:337422451.0,Compressor_Stations:GCOMP490
Distribution_Substations:352749574.0,Compressor_Stations:GCOMP491
Distribution_Substations:337429826.0,Compressor_Stations:GCOMP492
Distribution_Substations:25068990.0,Compressor_Stations:GCOMP493
Distribution_Substations:337428895.0,Compressor_Stations:GCOMP494
Distribution_Substations:30004581.0,Compressor_Stations:GCOMP495
Distribution_Substations:337416687.0,Compressor_Stations:GCOMP496
Distribution_Substations:343745705.0,Compressor_Stations:GCOMP497
Distribution_Substations:337406228.0,Compressor_Stations:GCOMP498
Distribution_Substations:343745491.0,Compressor_Stations:GCOMP499
Distribution_Substations:337432280.0,Compressor_Stations:GCOMP5
Distribution_Substations:20010865.0,Compressor_Stations:GCOMP50
Distribution_Substations:20013704.0,Compressor_Stations:GCOMP500
Distribution_Substations:20013372.0,Compressor_Stations:GCOMP501
Distribution_Substations:356865840.0,Compressor_Stations:GCOMP502
Distribution_Substations:25068320.0,Compressor_Stations:GCOMP503
Distribution_Substations:10401040.0,Compressor_Stations:GCOMP504
Distribution_Substations:25060924.0,Compressor_Stations:GCOMP505
Distribution_Substations:349559827.0,Compressor_Stations:GCOMP506
Distribution_Substations:32007440.0,Compressor_Stations:GCOMP507
Distribution_Substations:337422481.0,Compressor_Stations:GCOMP508
Distribution_Substations:337429935.0,Compressor_Stations:GCOMP509
Distribution_Substations:341828399.0,Compressor_Stations:GCOMP51
Distribution_Substations:49002138.0,Compressor_Stations:GCOMP510
Distribution_Substations:337407125.0,Compressor_Stations:GCOMP511
Distribution_Substations:337419795.0,Compressor_Stations:GCOMP512
Distribution_Substations:20011686.0,Compressor_Stations:GCOMP513
Distribution_Substations:337421719.0,Compressor_Stations:GCOMP514
Distribution_Substations:337407806.0,Compressor_Stations:GCOMP515
Distribution_Substations:20010490.0,Compressor_Stations:GCOMP516
Distribution_Substations:337416142.0,Compressor_Stations:GCOMP517
Distribution_Substations:25066811.0,Compressor_Stations:GCOMP518
Distribution_Substations:25066811.0,Compressor_Stations:GCOMP519
Distribution_Substations:356867612.0,Compressor_Stations:GCOMP52
Distribution_Substations:337406912.0,Compressor_Stations:GCOMP520
Distribution_Substations:32006922.0,Compressor_Stations:GCOMP521
Distribution_Substations:51002504.0,Compressor_Stations:GCOMP522
Distribution_Substations:337429916.0,Compressor_Stations:GCOMP523
Distribution_Substations:337420243.0,Compressor_Stations:GCOMP524
Distribution_Substations:345866098.0,Compressor_Stations:GCOMP525
Distribution_Substations:337419724.0,Compressor_Stations:GCOMP526
Distribution_Substations:337421341.0,Compressor_Stations:GCOMP527
Distribution_Substations:337411463.0,Compressor_Stations:GCOMP528
Distribution_Substations:337407644.0,Compressor_Stations:GCOMP529
Distribution_Substations:32008565.0,Compressor_Stations:GCOMP53
Distribution_Substations:25067150.0,Compressor_Stations:GCOMP530
Distribution_Substations:46060272.0,Compressor_Stations:GCOMP531
Distribution_Substations:337424389.0,Compressor_Stations:GCOMP532
Distribution_Substations:20011064.0,Compressor_Stations:GCOMP533
Distribution_Substations:10451031.0,Compressor_Stations:GCOMP534
Distribution_Substations:25066220.0,Compressor_Stations:GCOMP535
Distribution_Substations:30004834.0,Compressor_Stations:GCOMP536
Distribution_Substations:337412617.0,Compressor_Stations:GCOMP537
Distribution_Substations:341828179.0,Compressor_Stations:GCOMP538
Distribution_Substations:356867544.0,Compressor_Stations:GCOMP539
Distribution_Substations:337406639.0,Compressor_Stations:GCOMP54
Distribution_Substations:25063710.0,Compressor_Stations:GCOMP540
Distribution_Substations:337418268.0,Compressor_Stations:GCOMP541
Distribution_Substations:337409262.0,Compressor_Stations:GCOMP542
Distribution_Substations:32008331.0,Compressor_Stations:GCOMP543
Distribution_Substations:32008331.0,Compressor_Stations:GCOMP544
Distribution_Substations:46000999.0,Compressor_Stations:GCOMP545
Distribution_Substations:20011083.0,Compressor_Stations:GCOMP546
Distribution_Substations:20013483.0,Compressor_Stations:GCOMP547
Distribution_Substations:25051326.0,Compressor_Stations:GCOMP548
Distribution_Substations:25068426.0,Compressor_Stations:GCOMP549
Distribution_Substations:51002041.0,Compressor_Stations:GCOMP55
Distribution_Substations:25069594.0,Compressor_Stations:GCOMP550
Distribution_Substations:35050254.0,Compressor_Stations:GCOMP551
Distribution_Substations:30002264.0,Compressor_Stations:GCOMP552
Distribution_Substations:337429178.0,Compressor_Stations:GCOMP553
Distribution_Substations:356865885.0,Compressor_Stations:GCOMP554
Distribution_Substations:30005281.0,Compressor_Stations:GCOMP555
Distribution_Substations:337412650.0,Compressor_Stations:GCOMP556
Distribution_Substations:337414597.0,Compressor_Stations:GCOMP557
Distribution_Substations:342618416.0,Compressor_Stations:GCOMP558
Distribution_Substations:10141110.0,Compressor_Stations:GCOMP559
Distribution_Substations:25063447.0,Compressor_Stations:GCOMP56
Distribution_Substations:337416847.0,Compressor_Stations:GCOMP560
Distribution_Substations:30005281.0,Compressor_Stations:GCOMP561
Distribution_Substations:20010523.0,Compressor_Stations:GCOMP562
Distribution_Substations:345866745.0,Compressor_Stations:GCOMP563
Distribution_Substations:49001169.0,Compressor_Stations:GCOMP564
Distribution_Substations:337407711.0,Compressor_Stations:GCOMP565
Distribution_Substations:337412331.0,Compressor_Stations:GCOMP566
Distribution_Substations:337414743.0,Compressor_Stations:GCOMP567
Distribution_Substations:356866452.0,Compressor_Stations:GCOMP568
Distribution_Substations:32008453.0,Compressor_Stations:GCOMP569
Distribution_Substations:30003121.0,Compressor_Stations:GCOMP57
Distribution_Substations:20011281.0,Compressor_Stations:GCOMP570
Distribution_Substations:343745073.0,Compressor_Stations:GCOMP571
Distribution_Substations:337410204.0,Compressor_Stations:GCOMP572
Distribution_Substations:32007640.0,Compressor_Stations:GCOMP573
Distribution_Substations:337423164.0,Compressor_Stations:GCOMP574
Distribution_Substations:35050254.0,Compressor_Stations:GCOMP575
Distribution_Substations:337407438.0,Compressor_Stations:GCOMP576
Distribution_Substations:10512153.0,Compressor_Stations:GCOMP577
Distribution_Substations:337431687.0,Compressor_Stations:GCOMP578
Distribution_Substations:337410768.0,Compressor_Stations:GCOMP579
Distribution_Substations:20013483.0,Compressor_Stations:GCOMP58
Distribution_Substations:337409626.0,Compressor_Stations:GCOMP580
Distribution_Substations:30001393.0,Compressor_Stations:GCOMP581
Distribution_Substations:337429135.0,Compressor_Stations:GCOMP582
Distribution_Substations:356867364.0,Compressor_Stations:GCOMP583
Distribution_Substations:337429189.0,Compressor_Stations:GCOMP584
Distribution_Substations:49001205.0,Compressor_Stations:GCOMP585
Distribution_Substations:35050151.0,Compressor_Stations:GCOMP586
Distribution_Substations:32007630.0,Compressor_Stations:GCOMP587
Distribution_Substations:337421912.0,Compressor_Stations:GCOMP588
Distribution_Substations:32007630.0,Compressor_Stations:GCOMP589
Distribution_Substations:337415943.0,Compressor_Stations:GCOMP59
Distribution_Substations:20011240.0,Compressor_Stations:GCOMP590
Distribution_Substations:32007630.0,Compressor_Stations:GCOMP591
Distribution_Substations:337410361.0,Compressor_Stations:GCOMP592
Distribution_Substations:337419241.0,Compressor_Stations:GCOMP593
Distribution_Substations:25065013.0,Compressor_Stations:GCOMP594
Distribution_Substations:30001836.0,Compressor_Stations:GCOMP595
Distribution_Substations:337422982.0,Compressor_Stations:GCOMP596
Distribution_Substations:25062053.0,Compressor_Stations:GCOMP597
Distribution_Substations:20011360.0,Compressor_Stations:GCOMP598
Distribution_Substations:337406827.0,Compressor_Stations:GCOMP599
Distribution_Substations:337421401.0,Compressor_Stations:GCOMP6
Distribution_Substations:337418416.0,Compressor_Stations:GCOMP60
Distribution_Substations:337421912.0,Compressor_Stations:GCOMP600
Distribution_Substations:46061064.0,Compressor_Stations:GCOMP601
Distribution_Substations:49003425.0,Compressor_Stations:GCOMP602
Distribution_Substations:30002263.0,Compressor_Stations:GCOMP603
Distribution_Substations:25060727.0,Compressor_Stations:GCOMP604
Distribution_Substations:337419312.0,Compressor_Stations:GCOMP605
Distribution_Substations:365669040.0,Compressor_Stations:GCOMP606
Distribution_Substations:337421005.0,Compressor_Stations:GCOMP607
Distribution_Substations:337412636.0,Compressor_Stations:GCOMP608
Distribution_Substations:48000231.0,Compressor_Stations:GCOMP609
Distribution_Substations:32006241.0,Compressor_Stations:GCOMP61
Distribution_Substations:25068228.0,Compressor_Stations:GCOMP610
Distribution_Substations:337423906.0,Compressor_Stations:GCOMP611
Distribution_Substations:25063359.0,Compressor_Stations:GCOMP612
Distribution_Substations:20013297.0,Compressor_Stations:GCOMP613
Distribution_Substations:30000510.0,Compressor_Stations:GCOMP614
Distribution_Substations:20014214.0,Compressor_Stations:GCOMP615
Distribution_Substations:35053016.0,Compressor_Stations:GCOMP616
Distribution_Substations:25060634.0,Compressor_Stations:GCOMP617
Distribution_Substations:49001124.0,Compressor_Stations:GCOMP618
Distribution_Substations:48000796.0,Compressor_Stations:GCOMP619
Distribution_Substations:51001081.0,Compressor_Stations:GCOMP62
Distribution_Substations:343745642.0,Compressor_Stations:GCOMP620
Distribution_Substations:32008175.0,Compressor_Stations:GCOMP621
Distribution_Substations:32008175.0,Compressor_Stations:GCOMP622
Distribution_Substations:32005060.0,Compressor_Stations:GCOMP623
Distribution_Substations:25067187.0,Compressor_Stations:GCOMP624
Distribution_Substations:32006252.0,Compressor_Stations:GCOMP625
Distribution_Substations:35053077.0,Compressor_Stations:GCOMP626
Distribution_Substations:49000690.0,Compressor_Stations:GCOMP627
Distribution_Substations:36000066.0,Compressor_Stations:GCOMP628
Distribution_Substations:25060377.0,Compressor_Stations:GCOMP629
Distribution_Substations:25062662.0,Compressor_Stations:GCOMP63
Distribution_Substations:343745995.0,Compressor_Stations:GCOMP630
Distribution_Substations:337409602.0,Compressor_Stations:GCOMP631
Distribution_Substations:25066314.0,Compressor_Stations:GCOMP632
Distribution_Substations:337409868.0,Compressor_Stations:GCOMP633
Distribution_Substations:337413139.0,Compressor_Stations:GCOMP634
Distribution_Substations:25064709.0,Compressor_Stations:GCOMP635
Distribution_Substations:32008461.0,Compressor_Stations:GCOMP636
Distribution_Substations:343745323.0,Compressor_Stations:GCOMP637
Distribution_Substations:337424495.0,Compressor_Stations:GCOMP638
Distribution_Substations:48000197.0,Compressor_Stations:GCOMP639
Distribution_Substations:46000308.0,Compressor_Stations:GCOMP64
Distribution_Substations:337431570.0,Compressor_Stations:GCOMP640
Distribution_Substations:340395266.0,Compressor_Stations:GCOMP641
Distribution_Substations:337410801.0,Compressor_Stations:GCOMP642
Distribution_Substations:25068403.0,Compressor_Stations:GCOMP643
Distribution_Substations:337413987.0,Compressor_Stations:GCOMP644
Distribution_Substations:343745206.0,Compressor_Stations:GCOMP646
Distribution_Substations:25061409.0,Compressor_Stations:GCOMP647
Distribution_Substations:51001354.0,Compressor_Stations:GCOMP648
Distribution_Substations:10581025.0,Compressor_Stations:GCOMP649
Distribution_Substations:356866170.0,Compressor_Stations:GCOMP65
Distribution_Substations:46060895.0,Compressor_Stations:GCOMP651
Distribution_Substations:20011332.0,Compressor_Stations:GCOMP652
Distribution_Substations:337407601.0,Compressor_Stations:GCOMP653
Distribution_Substations:46060850.0,Compressor_Stations:GCOMP654
Distribution_Substations:49002602.0,Compressor_Stations:GCOMP655
Distribution_Substations:52000030.0,Compressor_Stations:GCOMP656
Distribution_Substations:337410427.0,Compressor_Stations:GCOMP657
Distribution_Substations:20013374.0,Compressor_Stations:GCOMP658
Distribution_Substations:25050963.0,Compressor_Stations:GCOMP659
Distribution_Substations:337411634.0,Compressor_Stations:GCOMP66
Distribution_Substations:25051213.0,Compressor_Stations:GCOMP660
Distribution_Substations:25066956.0,Compressor_Stations:GCOMP661
Distribution_Substations:20010907.0,Compressor_Stations:GCOMP662
Distribution_Substations:25064181.0,Compressor_Stations:GCOMP663
Distribution_Substations:46060193.0,Compressor_Stations:GCOMP664
Distribution_Substations:51002205.0,Compressor_Stations:GCOMP665
Distribution_Substations:362453335.0,Compressor_Stations:GCOMP666
Distribution_Substations:345864385.0,Compressor_Stations:GCOMP667
Distribution_Substations:20011531.0,Compressor_Stations:GCOMP668
Distribution_Substations:25067249.0,Compressor_Stations:GCOMP669
Distribution_Substations:25069524.0,Compressor_Stations:GCOMP67
Distribution_Substations:337424456.0,Compressor_Stations:GCOMP670
Distribution_Substations:337414296.0,Compressor_Stations:GCOMP671
Distribution_Substations:30003737.0,Compressor_Stations:GCOMP672
Distribution_Substations:343745645.0,Compressor_Stations:GCOMP673
Distribution_Substations:25067249.0,Compressor_Stations:GCOMP674
Distribution_Substations:25067249.0,Compressor_Stations:GCOMP675
Distribution_Substations:49000407.0,Compressor_Stations:GCOMP676
Distribution_Substations:337407236.0,Compressor_Stations:GCOMP677
Distribution_Substations:20013249.0,Compressor_Stations:GCOMP678
Distribution_Substations:51002452.0,Compressor_Stations:GCOMP679
Distribution_Substations:25061036.0,Compressor_Stations:GCOMP68
Distribution_Substations:35053421.0,Compressor_Stations:GCOMP680
Distribution_Substations:51002452.0,Compressor_Stations:GCOMP681
Distribution_Substations:337412617.0,Compressor_Stations:GCOMP682
Distribution_Substations:25067153.0,Compressor_Stations:GCOMP683
Distribution_Substations:337432619.0,Compressor_Stations:GCOMP684
Distribution_Substations:30003431.0,Compressor_Stations:GCOMP685
Distribution_Substations:30003529.0,Compressor_Stations:GCOMP686
Distribution_Substations:20014177.0,Compressor_Stations:GCOMP687
Distribution_Substations:25060618.0,Compressor_Stations:GCOMP688
Distribution_Substations:343745323.0,Compressor_Stations:GCOMP689
Distribution_Substations:337408410.0,Compressor_Stations:GCOMP69
Distribution_Substations:67050094.0,Compressor_Stations:GCOMP690
Distribution_Substations:337418886.0,Compressor_Stations:GCOMP691
Distribution_Substations:337432382.0,Compressor_Stations:GCOMP692
Distribution_Substations:49001823.0,Compressor_Stations:GCOMP693
Distribution_Substations:337411153.0,Compressor_Stations:GCOMP694
Distribution_Substations:46060204.0,Compressor_Stations:GCOMP695
Distribution_Substations:35050184.0,Compressor_Stations:GCOMP696
Distribution_Substations:337423174.0,Compressor_Stations:GCOMP697
Distribution_Substations:337417778.0,Compressor_Stations:GCOMP698
Distribution_Substations:337419497.0,Compressor_Stations:GCOMP699
Distribution_Substations:337413558.0,Compressor_Stations:GCOMP7
Distribution_Substations:25069092.0,Compressor_Stations:GCOMP70
Distribution_Substations:32008176.0,Compressor_Stations:GCOMP700
Distribution_Substations:337407874.0,Compressor_Stations:GCOMP701
Distribution_Substations:35050058.0,Compressor_Stations:GCOMP702
Distribution_Substations:20010907.0,Compressor_Stations:GCOMP703
Distribution_Substations:20011863.0,Compressor_Stations:GCOMP704
Distribution_Substations:10451090.0,Compressor_Stations:GCOMP705
Distribution_Substations:337429870.0,Compressor_Stations:GCOMP707
Distribution_Substations:51002422.0,Compressor_Stations:GCOMP708
Distribution_Substations:337415729.0,Compressor_Stations:GCOMP709
Distribution_Substations:337416365.0,Compressor_Stations:GCOMP71
Distribution_Substations:337412461.0,Compressor_Stations:GCOMP710
Distribution_Substations:25050120.0,Compressor_Stations:GCOMP711
Distribution_Substations:337428335.0,Compressor_Stations:GCOMP712
Distribution_Substations:337429408.0,Compressor_Stations:GCOMP713
Distribution_Substations:337420073.0,Compressor_Stations:GCOMP714
Distribution_Substations:342617896.0,Compressor_Stations:GCOMP715
Distribution_Substations:353401263.0,Compressor_Stations:GCOMP716
Distribution_Substations:67050169.0,Compressor_Stations:GCOMP717
Distribution_Substations:30000150.0,Compressor_Stations:GCOMP718
Distribution_Substations:10521025.0,Compressor_Stations:GCOMP719
Distribution_Substations:337428941.0,Compressor_Stations:GCOMP72
Distribution_Substations:30050319.0,Compressor_Stations:GCOMP720
Distribution_Substations:30001854.0,Compressor_Stations:GCOMP721
Distribution_Substations:30001854.0,Compressor_Stations:GCOMP722
Distribution_Substations:337407860.0,Compressor_Stations:GCOMP723
Distribution_Substations:337412143.0,Compressor_Stations:GCOMP724
Distribution_Substations:343745491.0,Compressor_Stations:GCOMP725
Distribution_Substations:348235759.0,Compressor_Stations:GCOMP726
Distribution_Substations:20011337.0,Compressor_Stations:GCOMP727
Distribution_Substations:337432276.0,Compressor_Stations:GCOMP728
Distribution_Substations:342617976.0,Compressor_Stations:GCOMP729
Distribution_Substations:25060961.0,Compressor_Stations:GCOMP73
Distribution_Substations:337421077.0,Compressor_Stations:GCOMP730
Distribution_Substations:349560011.0,Compressor_Stations:GCOMP731
Distribution_Substations:337431573.0,Compressor_Stations:GCOMP732
Distribution_Substations:32007451.0,Compressor_Stations:GCOMP733
Distribution_Substations:32007630.0,Compressor_Stations:GCOMP734
Distribution_Substations:30009012.0,Compressor_Stations:GCOMP735
Distribution_Substations:46000169.0,Compressor_Stations:GCOMP736
Distribution_Substations:25069124.0,Compressor_Stations:GCOMP737
Distribution_Substations:337415287.0,Compressor_Stations:GCOMP738
Distribution_Substations:337407797.0,Compressor_Stations:GCOMP739
Distribution_Substations:25066635.0,Compressor_Stations:GCOMP74
Distribution_Substations:337432382.0,Compressor_Stations:GCOMP740
Distribution_Substations:51001079.0,Compressor_Stations:GCOMP741
Distribution_Substations:352749438.0,Compressor_Stations:GCOMP742
Distribution_Substations:46000591.0,Compressor_Stations:GCOMP743
Distribution_Substations:362453965.0,Compressor_Stations:GCOMP744
Distribution_Substations:49001095.0,Compressor_Stations:GCOMP745
Distribution_Substations:25061671.0,Compressor_Stations:GCOMP746
Distribution_Substations:51002033.0,Compressor_Stations:GCOMP747
Distribution_Substations:20014002.0,Compressor_Stations:GCOMP748
Distribution_Substations:46000716.0,Compressor_Stations:GCOMP749
Distribution_Substations:35050287.0,Compressor_Stations:GCOMP75
Distribution_Substations:356866210.0,Compressor_Stations:GCOMP750
Distribution_Substations:32006324.0,Compressor_Stations:GCOMP751
Distribution_Substations:25065457.0,Compressor_Stations:GCOMP752
Distribution_Substations:337408420.0,Compressor_Stations:GCOMP753
Distribution_Substations:25051276.0,Compressor_Stations:GCOMP754
Distribution_Substations:10451065.0,Compressor_Stations:GCOMP755
Distribution_Substations:51002422.0,Compressor_Stations:GCOMP756
Distribution_Substations:48000913.0,Compressor_Stations:GCOMP757
Distribution_Substations:35053191.0,Compressor_Stations:GCOMP758
Distribution_Substations:337422507.0,Compressor_Stations:GCOMP759
Distribution_Substations:337417936.0,Compressor_Stations:GCOMP76
Distribution_Substations:25061178.0,Compressor_Stations:GCOMP760
Distribution_Substations:46000439.0,Compressor_Stations:GCOMP761
Distribution_Substations:337408851.0,Compressor_Stations:GCOMP762
Distribution_Substations:337426913.0,Compressor_Stations:GCOMP763
Distribution_Substations:46000604.0,Compressor_Stations:GCOMP764
Distribution_Substations:337410730.0,Compressor_Stations:GCOMP765
Distribution_Substations:337429234.0,Compressor_Stations:GCOMP766
Distribution_Substations:343745050.0,Compressor_Stations:GCOMP767
Distribution_Substations:10581025.0,Compressor_Stations:GCOMP768
Distribution_Substations:25060075.0,Compressor_Stations:GCOMP769
Distribution_Substations:25063120.0,Compressor_Stations:GCOMP77
Distribution_Substations:340395084.0,Compressor_Stations:GCOMP770
Distribution_Substations:68050029.0,Compressor_Stations:GCOMP771
Distribution_Substations:68050029.0,Compressor_Stations:GCOMP772
Distribution_Substations:25052331.0,Compressor_Stations:GCOMP773
Distribution_Substations:20010806.0,Compressor_Stations:GCOMP774
Distribution_Substations:68050029.0,Compressor_Stations:GCOMP775
Distribution_Substations:68050029.0,Compressor_Stations:GCOMP776
Distribution_Substations:25062268.0,Compressor_Stations:GCOMP777
Distribution_Substations:68050029.0,Compressor_Stations:GCOMP778
Distribution_Substations:337412617.0,Compressor_Stations:GCOMP779
Distribution_Substations:337416275.0,Compressor_Stations:GCOMP78
Distribution_Substations:337419478.0,Compressor_Stations:GCOMP780
Distribution_Substations:48000797.0,Compressor_Stations:GCOMP781
Distribution_Substations:337410240.0,Compressor_Stations:GCOMP782
Distribution_Substations:341828521.0,Compressor_Stations:GCOMP783
Distribution_Substations:337410730.0,Compressor_Stations:GCOMP784
Distribution_Substations:343746217.0,Compressor_Stations:GCOMP785
Distribution_Substations:342618092.0,Compressor_Stations:GCOMP786
Distribution_Substations:25060587.0,Compressor_Stations:GCOMP787
Distribution_Substations:20014235.0,Compressor_Stations:GCOMP788
Distribution_Substations:337421576.0,Compressor_Stations:GCOMP789
Distribution_Substations:352749455.0,Compressor_Stations:GCOMP79
Distribution_Substations:30001554.0,Compressor_Stations:GCOMP790
Distribution_Substations:337407257.0,Compressor_Stations:GCOMP791
Distribution_Substations:25064660.0,Compressor_Stations:GCOMP792
Distribution_Substations:20000077.0,Compressor_Stations:GCOMP793
Distribution_Substations:348237791.0,Compressor_Stations:GCOMP794
Distribution_Substations:337411017.0,Compressor_Stations:GCOMP795
Distribution_Substations:337432502.0,Compressor_Stations:GCOMP796
Distribution_Substations:337429889.0,Compressor_Stations:GCOMP797
Distribution_Substations:25065270.0,Compressor_Stations:GCOMP798
Distribution_Substations:51001827.0,Compressor_Stations:GCOMP799
Distribution_Substations:337409192.0,Compressor_Stations:GCOMP8
Distribution_Substations:10581025.0,Compressor_Stations:GCOMP80
Distribution_Substations:337422399.0,Compressor_Stations:GCOMP800
Distribution_Substations:345864379.0,Compressor_Stations:GCOMP801
Distribution_Substations:30001162.0,Compressor_Stations:GCOMP802
Distribution_Substations:20014235.0,Compressor_Stations:GCOMP803
Distribution_Substations:20011027.0,Compressor_Stations:GCOMP804
Distribution_Substations:25062302.0,Compressor_Stations:GCOMP805
Distribution_Substations:52000300.0,Compressor_Stations:GCOMP806
Distribution_Substations:35053458.0,Compressor_Stations:GCOMP807
Distribution_Substations:337410943.0,Compressor_Stations:GCOMP808
Distribution_Substations:25065489.0,Compressor_Stations:GCOMP809
Distribution_Substations:337417343.0,Compressor_Stations:GCOMP81
Distribution_Substations:337424391.0,Compressor_Stations:GCOMP810
Distribution_Substations:10511163.0,Compressor_Stations:GCOMP811
Distribution_Substations:348236268.0,Compressor_Stations:GCOMP812
Distribution_Substations:337409393.0,Compressor_Stations:GCOMP813
Distribution_Substations:337431042.0,Compressor_Stations:GCOMP814
Distribution_Substations:25065223.0,Compressor_Stations:GCOMP815
Distribution_Substations:345866611.0,Compressor_Stations:GCOMP816
Distribution_Substations:32006906.0,Compressor_Stations:GCOMP817
Distribution_Substations:25050596.0,Compressor_Stations:GCOMP818
Distribution_Substations:337408488.0,Compressor_Stations:GCOMP819
Distribution_Substations:337418764.0,Compressor_Stations:GCOMP82
Distribution_Substations:25060418.0,Compressor_Stations:GCOMP820
Distribution_Substations:337417120.0,Compressor_Stations:GCOMP821
Distribution_Substations:46060355.0,Compressor_Stations:GCOMP822
Distribution_Substations:25065505.0,Compressor_Stations:GCOMP823
Distribution_Substations:337418932.0,Compressor_Stations:GCOMP824
Distribution_Substations:337410768.0,Compressor_Stations:GCOMP825
Distribution_Substations:25061068.0,Compressor_Stations:GCOMP826
Distribution_Substations:337421076.0,Compressor_Stations:GCOMP827
Distribution_Substations:337407967.0,Compressor_Stations:GCOMP828
Distribution_Substations:337410768.0,Compressor_Stations:GCOMP829
Distribution_Substations:352749837.0,Compressor_Stations:GCOMP83
Distribution_Substations:337417013.0,Compressor_Stations:GCOMP830
Distribution_Substations:337406888.0,Compressor_Stations:GCOMP831
Distribution_Substations:356866966.0,Compressor_Stations:GCOMP832
Distribution_Substations:337418962.0,Compressor_Stations:GCOMP833
Distribution_Substations:52000338.0,Compressor_Stations:GCOMP834
Distribution_Substations:25069019.0,Compressor_Stations:GCOMP835
Distribution_Substations:32005060.0,Compressor_Stations:GCOMP836
Distribution_Substations:25065435.0,Compressor_Stations:GCOMP837
Distribution_Substations:46060389.0,Compressor_Stations:GCOMP838
Distribution_Substations:25062279.0,Compressor_Stations:GCOMP839
Distribution_Substations:25068621.0,Compressor_Stations:GCOMP84
Distribution_Substations:25065239.0,Compressor_Stations:GCOMP840
Distribution_Substations:337407335.0,Compressor_Stations:GCOMP841
Distribution_Substations:337432376.0,Compressor_Stations:GCOMP842
Distribution_Substations:25066188.0,Compressor_Stations:GCOMP843
Distribution_Substations:48001078.0,Compressor_Stations:GCOMP844
Distribution_Substations:337422456.0,Compressor_Stations:GCOMP845
Distribution_Substations:25050147.0,Compressor_Stations:GCOMP846
Distribution_Substations:356866176.0,Compressor_Stations:GCOMP847
Distribution_Substations:337407125.0,Compressor_Stations:GCOMP848
Distribution_Substations:35050300.0,Compressor_Stations:GCOMP849
Distribution_Substations:337412213.0,Compressor_Stations:GCOMP85
Distribution_Substations:337419993.0,Compressor_Stations:GCOMP850
Distribution_Substations:64000059.0,Compressor_Stations:GCOMP851
Distribution_Substations:343745353.0,Compressor_Stations:GCOMP852
Distribution_Substations:35053276.0,Compressor_Stations:GCOMP853
Distribution_Substations:20050076.0,Compressor_Stations:GCOMP854
Distribution_Substations:849003330.0,Compressor_Stations:GCOMP855
Distribution_Substations:25068979.0,Compressor_Stations:GCOMP856
Distribution_Substations:51002097.0,Compressor_Stations:GCOMP857
Distribution_Substations:25051149.0,Compressor_Stations:GCOMP858
Distribution_Substations:20011277.0,Compressor_Stations:GCOMP859
Distribution_Substations:337423387.0,Compressor_Stations:GCOMP86
Distribution_Substations:25061569.0,Compressor_Stations:GCOMP860
Distribution_Substations:337409983.0,Compressor_Stations:GCOMP861
Distribution_Substations:30002468.0,Compressor_Stations:GCOMP862
Distribution_Substations:52000077.0,Compressor_Stations:GCOMP863
Distribution_Substations:25069614.0,Compressor_Stations:GCOMP864
Distribution_Substations:25062251.0,Compressor_Stations:GCOMP865
Distribution_Substations:337407154.0,Compressor_Stations:GCOMP866
Distribution_Substations:337409192.0,Compressor_Stations:GCOMP867
Distribution_Substations:337430220.0,Compressor_Stations:GCOMP868
Distribution_Substations:20000785.0,Compressor_Stations:GCOMP869
Distribution_Substations:25061234.0,Compressor_Stations:GCOMP87
Distribution_Substations:20010806.0,Compressor_Stations:GCOMP870
Distribution_Substations:337418297.0,Compressor_Stations:GCOMP871
Distribution_Substations:337431034.0,Compressor_Stations:GCOMP872
Distribution_Substations:46060248.0,Compressor_Stations:GCOMP873
Distribution_Substations:340406624.0,Compressor_Stations:GCOMP874
Distribution_Substations:49000514.0,Compressor_Stations:GCOMP875
Distribution_Substations:337409759.0,Compressor_Stations:GCOMP876
Distribution_Substations:10521045.0,Compressor_Stations:GCOMP877
Distribution_Substations:343745195.0,Compressor_Stations:GCOMP878
Distribution_Substations:30005063.0,Compressor_Stations:GCOMP879
Distribution_Substations:46061255.0,Compressor_Stations:GCOMP88
Distribution_Substations:352749572.0,Compressor_Stations:GCOMP880
Distribution_Substations:32006634.0,Compressor_Stations:GCOMP881
Distribution_Substations:49002155.0,Compressor_Stations:GCOMP882
Distribution_Substations:337407539.0,Compressor_Stations:GCOMP883
Distribution_Substations:362453462.0,Compressor_Stations:GCOMP884
Distribution_Substations:337414487.0,Compressor_Stations:GCOMP885
Distribution_Substations:46060896.0,Compressor_Stations:GCOMP886
Distribution_Substations:352749938.0,Compressor_Stations:GCOMP887
Distribution_Substations:25060654.0,Compressor_Stations:GCOMP888
Distribution_Substations:51002089.0,Compressor_Stations:GCOMP889
Distribution_Substations:30050319.0,Compressor_Stations:GCOMP89
Distribution_Substations:49003196.0,Compressor_Stations:GCOMP890
Distribution_Substations:337429824.0,Compressor_Stations:GCOMP891
Distribution_Substations:337407614.0,Compressor_Stations:GCOMP892
Distribution_Substations:25051097.0,Compressor_Stations:GCOMP893
Distribution_Substations:356866964.0,Compressor_Stations:GCOMP894
Distribution_Substations:20010494.0,Compressor_Stations:GCOMP895
Distribution_Substations:337421401.0,Compressor_Stations:GCOMP896
Distribution_Substations:337408110.0,Compressor_Stations:GCOMP897
Distribution_Substations:25065560.0,Compressor_Stations:GCOMP898
Distribution_Substations:10581029.0,Compressor_Stations:GCOMP899
Distribution_Substations:25060833.0,Compressor_Stations:GCOMP9
Distribution_Substations:25069060.0,Compressor_Stations:GCOMP90
Distribution_Substations:337431042.0,Compressor_Stations:GCOMP900
Distribution_Substations:25069582.0,Compressor_Stations:GCOMP901
Distribution_Substations:35050160.0,Compressor_Stations:GCOMP902
Distribution_Substations:337414995.0,Compressor_Stations:GCOMP903
Distribution_Substations:337415490.0,Compressor_Stations:GCOMP904
Distribution_Substations:345866346.0,Compressor_Stations:GCOMP905
Distribution_Substations:337423395.0,Compressor_Stations:GCOMP906
Distribution_Substations:337429408.0,Compressor_Stations:GCOMP907
Distribution_Substations:25065238.0,Compressor_Stations:GCOMP908
Distribution_Substations:337416847.0,Compressor_Stations:GCOMP909
Distribution_Substations:46060231.0,Compressor_Stations:GCOMP91
Distribution_Substations:20000746.0,Compressor_Stations:GCOMP910
Distribution_Substations:46000250.0,Compressor_Stations:GCOMP911
Distribution_Substations:25063577.0,Compressor_Stations:GCOMP912
Distribution_Substations:25055084.0,Compressor_Stations:GCOMP913
Distribution_Substations:20000746.0,Compressor_Stations:GCOMP914
Distribution_Substations:337432596.0,Compressor_Stations:GCOMP915
Distribution_Substations:340393724.0,Compressor_Stations:GCOMP916
Distribution_Substations:30002504.0,Compressor_Stations:GCOMP917
Distribution_Substations:25069594.0,Compressor_Stations:GCOMP918
Distribution_Substations:337418204.0,Compressor_Stations:GCOMP919
Distribution_Substations:49001683.0,Compressor_Stations:GCOMP92
Distribution_Substations:352750005.0,Compressor_Stations:GCOMP920
Distribution_Substations:25066669.0,Compressor_Stations:GCOMP921
Distribution_Substations:25066494.0,Compressor_Stations:GCOMP922
Distribution_Substations:37000112.0,Compressor_Stations:GCOMP923
Distribution_Substations:337431527.0,Compressor_Stations:GCOMP924
Distribution_Substations:356868780.0,Compressor_Stations:GCOMP925
Distribution_Substations:337413728.0,Compressor_Stations:GCOMP926
Distribution_Substations:337410768.0,Compressor_Stations:GCOMP927
Distribution_Substations:348235255.0,Compressor_Stations:GCOMP928
Distribution_Substations:337406364.0,Compressor_Stations:GCOMP929
Distribution_Substations:25055203.0,Compressor_Stations:GCOMP93
Distribution_Substations:337410465.0,Compressor_Stations:GCOMP930
Distribution_Substations:49001443.0,Compressor_Stations:GCOMP931
Distribution_Substations:337423580.0,Compressor_Stations:GCOMP932
Distribution_Substations:20013484.0,Compressor_Stations:GCOMP933
Distribution_Substations:343745623.0,Compressor_Stations:GCOMP934
Distribution_Substations:352749983.0,Compressor_Stations:GCOMP935
Distribution_Substations:20013990.0,Compressor_Stations:GCOMP936
Distribution_Substations:25052769.0,Compressor_Stations:GCOMP937
Distribution_Substations:337414900.0,Compressor_Stations:GCOMP938
Distribution_Substations:356867948.0,Compressor_Stations:GCOMP939
Distribution_Substations:25055203.0,Compressor_Stations:GCOMP94
Distribution_Substations:32007730.0,Compressor_Stations:GCOMP940
Distribution_Substations:337417122.0,Compressor_Stations:GCOMP941
Distribution_Substations:52000352.0,Compressor_Stations:GCOMP942
Distribution_Substations:337429196.0,Compressor_Stations:GCOMP943
Distribution_Substations:337421912.0,Compressor_Stations:GCOMP944
Distribution_Substations:337410071.0,Compressor_Stations:GCOMP945
Distribution_Substations:337419773.0,Compressor_Stations:GCOMP946
Distribution_Substations:337418190.0,Compressor_Stations:GCOMP947
Distribution_Substations:10581001.0,Compressor_Stations:GCOMP948
Distribution_Substations:365669030.0,Compressor_Stations:GCOMP949
Distribution_Substations:25051877.0,Compressor_Stations:GCOMP95
Distribution_Substations:337423529.0,Compressor_Stations:GCOMP950
Distribution_Substations:337419367.0,Compressor_Stations:GCOMP951
Distribution_Substations:337414335.0,Compressor_Stations:GCOMP952
Distribution_Substations:337423289.0,Compressor_Stations:GCOMP953
Distribution_Substations:337429327.0,Compressor_Stations:GCOMP954
Distribution_Substations:337429327.0,Compressor_Stations:GCOMP955
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP956
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP957
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP958
Distribution_Substations:337406590.0,Compressor_Stations:GCOMP959
Distribution_Substations:25051877.0,Compressor_Stations:GCOMP96
Distribution_Substations:25060709.0,Compressor_Stations:GCOMP960
Distribution_Substations:337432335.0,Compressor_Stations:GCOMP961
Distribution_Substations:340393792.0,Compressor_Stations:GCOMP962
Distribution_Substations:337420253.0,Compressor_Stations:GCOMP963
Distribution_Substations:35053080.0,Compressor_Stations:GCOMP964
Distribution_Substations:337413861.0,Compressor_Stations:GCOMP965
Distribution_Substations:25067262.0,Compressor_Stations:GCOMP966
Distribution_Substations:32008131.0,Compressor_Stations:GCOMP967
Distribution_Substations:10511222.0,Compressor_Stations:GCOMP968
Distribution_Substations:337412591.0,Compressor_Stations:GCOMP969
Distribution_Substations:25064723.0,Compressor_Stations:GCOMP97
Distribution_Substations:25065204.0,Compressor_Stations:GCOMP970
Distribution_Substations:35053016.0,Compressor_Stations:GCOMP971
Distribution_Substations:337413306.0,Compressor_Stations:GCOMP972
Distribution_Substations:25064181.0,Compressor_Stations:GCOMP973
Distribution_Substations:337413137.0,Compressor_Stations:GCOMP974
Distribution_Substations:337412591.0,Compressor_Stations:GCOMP975
Distribution_Substations:25061939.0,Compressor_Stations:GCOMP976
Distribution_Substations:352749445.0,Compressor_Stations:GCOMP977
Distribution_Substations:337417415.0,Compressor_Stations:GCOMP978
Distribution_Substations:349559827.0,Compressor_Stations:GCOMP979
Distribution_Substations:343745623.0,Compressor_Stations:GCOMP98
Distribution_Substations:349559827.0,Compressor_Stations:GCOMP980
Distribution_Substations:337413967.0,Compressor_Stations:GCOMP981
Distribution_Substations:32006816.0,Compressor_Stations:GCOMP982
Distribution_Substations:337418416.0,Compressor_Stations:GCOMP983
Distribution_Substations:365669007.0,Compressor_Stations:GCOMP984
Distribution_Substations:25069552.0,Compressor_Stations:GCOMP985
Distribution_Substations:337410777.0,Compressor_Stations:GCOMP986
Distribution_Substations:352749790.0,Compressor_Stations:GCOMP987
Distribution_Substations:337414604.0,Compressor_Stations:GCOMP988
Distribution_Substations:337415378.0,Compressor_Stations:GCOMP989
Distribution_Substations:49003154.0,Compressor_Stations:GCOMP99
Distribution_Substations:337406721.0,Compressor_Stations:GCOMP990
Distribution_Substations:32008918.0,Compressor_Stations:GCOMP991
Distribution_Substations:25061583.0,Compressor_Stations:GCOMP992
Distribution_Substations:25067009.0,Compressor_Stations:GCOMP993
Distribution_Substations:20010824.0,Compressor_Stations:GCOMP994
Distribution_Substations:337406744.0,Compressor_Stations:GCOMP995
Distribution_Substations:343745568.0,Compressor_Stations:GCOMP996
Distribution_Substations:340396032.0,Compressor_Stations:GCOMP997
Distribution_Substations:10141151.0,Compressor_Stations:GCOMP998
Distribution_Substations:25050627.0,Compressor_Stations:GCOMP999
